@using FinsaWeb.Models
@model int

<form>
    @using (Html.BeginForm("Elimina", "Allievi", FormMethod.Post))
    {

        @*@Html.TextBoxFor(x=>x=Model, new { @class = "form-control" });*@

        <input type="submit" />
    }


</form>
