


@{
    ViewData["Title"] = "Index";
}

<h2>ALLIEVI</h2>

<p><a asp-controller="Allievi" asp-action="Inserisci">Inserisci un Allievo</a></p>
<p><a asp-controller="Allievi" asp-action="Visualizza">Visualizza Allievi</a></p>
<p><a asp-controller="Allievi" asp-action="VisualizzaPerNome">Visualizza Allievo per Nome</a></p>
<p><a asp-controller="Allievi" asp-action="Elimina">Elimina Allievo per ID</a></p>




