@using FinsaForEver.Controllers
@model Pippo

pippo

<h1>@Model.Testo1</h1>

<p><a href="Corsi/Corsi">Corsi</a></p>
<p><a href="Allievi/Index">Allievi</a></p>
<p><a href="CorsiAllievi/CorsiAllievi">CorsiAllievi</a></p>
@*@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>*@

