@using FinsaForEver.Controllers
@model Pippo

pippo

<h1>@Model.Testo1</h1>

<a href="Corsi/Corsi">Corsi</a>
<a href="Allievi/Index">Allievi</a>

@*@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>*@

