@using FinsaWeb.Models.InMemory;
@using FinsaWeb.Models.CoreNocciolo;
@using FinsaWeb.Models;

@{
    ViewData["Title"] = "CorsiAllievi";
}

<h2> CORSI ALLIEVI </h2>

@model IEnumerable<CorsoAllievo>
@foreach (var x in Model)
{
    <div>
        <span>
            Allievo: @x.IdAllievo
        </span>
        <br />
        <span>
            Corso: @x.IdEdizioneCorso
        </span>
        <span>
            Voto: @x.Voto
        </span>
    </div>
    <br />
}